interface eth1
no ip address {{ loopback.ipv4 }}
interface eth2
no ip address {{ loopback.ipv4 }}
interface eth3
no ip address {{ loopback.ipv4 }}
interface lo
no ip address {{ loopback.ipv4 }}
router bgp {{ bgp.as }}
{% for ngb in bgp.neighbors if 'spine' in ngb.name %}
no neighbor {{ ngb.ipv4 }}
no neighbor {{ ngb.ipv6 }}
{% endfor %}
{% for ngb in bgp.neighbors if 'leaf' in ngb.name %}
no neighbor {{ ngb.local_if }}
{% endfor %}
neighbor LEAVES peer-group
neighbor LEAVES remote-as external
{% for ngb in bgp.neighbors if 'leaf' in ngb.name %}
neighbor {{ ngb.local_if }} interface peer-group LEAVES
neighbor {{ ngb.local_if }} description {{ ngb.name }}
{% endfor %}
neighbor SPINES_REMOTOS peer-group
neighbor SPINES_REMOTOS remote-as external
neighbor 2001:db8:1::11 peer-group SPINES_REMOTOS
neighbor 2001:db8:1::11 description DC1_spine11
neighbor 2001:db8:1::22 peer-group SPINES_REMOTOS
neighbor 2001:db8:1::22 description DC1_spine12
neighbor SPINES_REMOTOS ebgp-multihop
address-family ipv4 unicast
no network {{ loopback.ipv4 }}
neighbor LEAVES activate
address-family ipv6 unicast
neighbor LEAVES activate
address-family l2vpn evpn
neighbor LEAVES activate
neighbor LEAVES soft-reconfiguration inbound
neighbor SPINES_REMOTOS activate
no advertise-all-vni
no advertise-svi-ip
no advertise ipv4 unicast
no advertise ipv6 unicast
