{% for ngb in bgp.neighbors %}
{%if 'leaf1' in ngb.name %}
interface lo0
ipv6 address 2001:db8:bac1::1/48
router bgp {{ bgp.as }}
address-family ipv6 unicast
network 2001:db8:bac1::/48
{% endif %}
{%if 'leaf2' in ngb.name %}
interface lo0
ipv6 address 2001:db8:bac2::2/48
router bgp {{ bgp.as }}
address-family ipv6 unicast
network 2001:db8:bac2::/48
{% endif %}
{%if 'leaf3' in ngb.name %}
interface lo0
ipv6 address 2001:db8:bac3::3/48
router bgp {{ bgp.as }}
address-family ipv6 unicast
network 2001:db8:bac3::/48
{% endif %}
{%if 'leaf4' in ngb.name %}
interface lo0
ipv6 address 2001:db8:bac4::4/48
router bgp {{ bgp.as }}
address-family ipv6 unicast
network 2001:db8:bac4::/48
{% endif %}
{% endfor %}
