# Ansible inventory created from ['/root/lacnic_ipv6dc/vxlan_l3/topology.yml', 'package:topology-defaults.yml']
#

af:
  ipv6: true
box: python:3.9-alpine
clab:
  binds:
  - clab_files/host12/hosts:/etc/hosts
  config_templates:
  - hosts:/etc/hosts
  kind: linux
hostname: clab-vxlan_l3-host12
interfaces:
- bridge: vxlan_l3_13
  ifindex: 1
  ifname: eth1
  ipv6: 2001:db8:12::12/48
  linkindex: 13
  mtu: 1500
  name: host12 -> leaf1
  neighbors:
  - ifname: eth4
    ipv6: 2001:db8:12::1/48
    node: leaf1
    vrf: VERDE
  role: stub
  type: lan
mgmt:
  ifname: eth0
  ipv4: 192.168.121.118
  mac: 08:4f:a9:00:00:12
mtu: 1500
role: host
