ipv6 prefix-list RUTA_DEFAULT seq 5 permit ::/0
route-map SPINE_EXPORTAR deny 100
match ipv6 address prefix-list RUTA_DEFAULT
route-map SPINE_EXPORTAR permit 1000
route-map SPINE_IMPORTAR permit 1000
router bgp {{ bgp.as }}
{% for ngb in bgp.neighbors if 'spine' in ngb.name %}
no neighbor {{ ngb.local_if }}
{% endfor %}
neighbor SPINES peer-group
neighbor SPINES remote-as external
{% for ngb in bgp.neighbors if 'spine' in ngb.name %}
neighbor {{ ngb.local_if }} interface peer-group SPINES
neighbor {{ ngb.local_if }} description {{ ngb.name }}
{% endfor %}
address-family ipv6 unicast
neighbor SPINES activate
neighbor SPINES route-map SPINE_IMPORTAR in
neighbor SPINES route-map SPINE_EXPORTAR out

