# Ansible inventory created from ['/root/lacnic_ipv6dc/vxlan_l2/topology.yml', 'package:topology-defaults.yml']
#

af:
  ipv6: true
box: python:3.9-alpine
clab:
  binds:
  - clab_files/hostB/hosts:/etc/hosts
  config_templates:
  - hosts:/etc/hosts
  kind: linux
hostname: clab-vxlan_l2-hostB
interfaces:
- bridge: vxlan_l2_18
  ifindex: 1
  ifname: eth1
  ipv6: 2001:db8:aa:1::b/64
  linkindex: 18
  mtu: 1500
  name: hostB -> leaf2
  neighbors:
  - ifname: eth5
    ipv6: 2001:db8:aa:1::2/64
    node: leaf2
  role: stub
  type: lan
mgmt:
  ifname: eth0
  ipv4: 192.168.121.111
  mac: 08:4f:a9:00:00:0b
mtu: 1500
role: host
