ipv6 prefix-list RUTA_DEFAULT seq 5 permit ::/0
route-map BORDE_IMPORTAR permit 100
match ipv6 address prefix-list RUTA_DEFAULT
route-map BORDE_IMPORTAR deny 1000
route-map BORDE_EXPORTAR deny 100
match ipv6 address prefix-list RUTA_DEFAULT
route-map BORDE_EXPORTAR permit 1000
route-map LEAF_IMPORTAR deny 100
match ipv6 address prefix-list RUTA_DEFAULT
route-map LEAF_IMPORTAR permit 1000
route-map LEAF_EXPORTAR permit 1000
router bgp {{ bgp.as }}
{% for ngb in bgp.neighbors if 'spine' in ngb.name %}
no neighbor {{ ngb.ipv6 }}
{% endfor %}
{% for ngb in bgp.neighbors if 'leaf' in ngb.name %}
no neighbor {{ ngb.local_if }}
{% endfor %}
neighbor LEAVES peer-group
neighbor LEAVES remote-as external
{% for ngb in bgp.neighbors if 'leaf' in ngb.name %}
neighbor {{ ngb.local_if }} interface peer-group LEAVES
neighbor {{ ngb.local_if }} description {{ ngb.name }}
{% endfor %}
{% for ngb in bgp.neighbors if 'borde' in ngb.name %}
no neighbor {{ ngb.local_if }}
{% endfor %}
neighbor BORDES peer-group
neighbor BORDES remote-as external
{% for ngb in bgp.neighbors if 'borde' in ngb.name %}
neighbor {{ ngb.local_if }} interface peer-group BORDES
neighbor {{ ngb.local_if }} description {{ ngb.name }}
{% endfor %}
address-family ipv6 unicast
neighbor LEAVES activate
neighbor LEAVES route-map LEAF_IMPORTAR in
neighbor LEAVES route-map LEAF_EXPORTAR out
neighbor BORDES activate
neighbor BORDES route-map BORDE_IMPORTAR in
neighbor BORDES route-map BORDE_EXPORTAR out
