#!/bin/vbash
source /opt/vyatta/etc/functions/script-template

if [ "$(id -g -n)" != 'vyattacfg' ] ; then
    exec sg vyattacfg -c "/bin/vbash $(readlink -f $0) $@"
fi

# Configuration items start here

configure
set policy prefix-list6 PREFIJOS_MAYOR_48 rule 100 action 'permit'
set policy prefix-list6 PREFIJOS_MAYOR_48 rule 100 ge '49'
set policy prefix-list6 PREFIJOS_MAYOR_48 rule 100 prefix '::/0'
set policy route-map CLIENTE_IMPORTAR rule 100 action 'deny'
set policy route-map CLIENTE_IMPORTAR rule 100 match ipv6 address prefix-list 'PREFIJOS_MAYOR_48'
set policy route-map CLIENTE_IMPORTAR rule 1000 action 'permit'
{% for ngb in bgp.neighbors %}
set protocols bgp neighbor {{ ngb.ipv6 }} address-family ipv6-unicast route-map import 'CLIENTE_IMPORTAR'
{% endfor %}
commit
save
exit
